*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: blanchedalmond;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 65, 50);
    height: 10vh;
    width: 100%;
    padding: 0 30px;
    font-size: 30px;
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(150, 130, 105);
    overflow-x: hidden;
    padding-top: 60px;
    padding-bottom: 100px;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sidenav a{
    padding: 10px 20px;
    text-decoration: none;
    color: blanchedalmond;
    font-size: 30px;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover{
    color: yellow;
}
.sidenav .closebtn{
    position: absolute;
    top: 0;
    margin-left: 90%;
    font-size: 40px;
}
.burger , .logo{
    color: whitesmoke;
}
.burger{
    position: absolute;
    margin-right: 95%;
    cursor: pointer;
}
.logo{
    cursor: default;
    font-family: 'Goblin One';
    font-size: 40px;
    color: crimson;
    text-shadow: -1px 0 blanchedalmond , 1px 0 blanchedalmond , 0 -1px blanchedalmond, 0 1px blanchedalmond;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}
.head-logo{
    display: flex;
    align-items: center;
    height: 40vh;
}
.tag{
    height: 20vh;
    width: 100%;
    font-family: Montserrat;
    font-size: 65px;
    font-weight: 700;
    font-style: italic;
    color: rgb(50, 45, 35);
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    height: 30vh;
    width: 100%;
    padding: 0px 60px;
    font-size: 25px;
    font-family: Newsreader;
    color: rgb(75, 65, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info p{
    font-size: 35px;
    font-weight: 600;
    color: crimson;
    padding: 5px 0;
}
.about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}
.about .info{
    height: 60vh;
}
.about .info p{
    font-size: 45px;
}
.about-img img{
    height: 500px;
    border: 2px solid rgb(50, 45, 35);
}
.services , .contact{
    display: flex;
    flex-direction: column;
}
.service-head{
    height: 15vh;
    padding: 0 80px;
    font-family: Newsreader;
    font-size: 50px;
    color: crimson;
    font-weight: 600;
}
.first , .second , .third{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 0 150px;
    margin-bottom: 120px;
}
.first-info , .second-info , .third-info{
    width: 500px;
    height: 520px;
    background-color: rgb(150, 130, 105);
    border: 2px solid rgb(50, 45, 35);
    border-radius: 15px;
    padding: 10px 10px;
    font-family: 'Playfair Display';
    font-size: 25px;
    color: blanchedalmond;
}
.first-info p , .second-info p , .third-info p{
    color: rgb(50, 45, 35);
    font-weight: 800;
}
h1{
    font-family: Merriweather;
    color: yellow;
    padding: 20px 20px;
    font-size: 35px;
    text-decoration: none;
}
button{
    height: 50px;
    width: 100%;
    font-family: Merriweather;
    font-size: 25px;
    background-color: yellow;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: scale(0.9);
    background-color: orange;
}
button a{
    text-decoration: none;
    color: black;
}
.first img , .second img , .third img{
    border-radius: 10px;
    width: 450px;
    height: 450px;
}
.first img:hover , .second img:hover , .third img:hover{
    box-shadow: 0px 3px 10px 0 black;
    transition: all 0.5s;
    transform: scale(1.1);
}
.third img{
    border: 2px solid white;
}
.contact{
    padding: 0 120px;
    height: 100vh;
}
.contact-head{
    height: 10vh;
    font-family: Newsreader;
    font-size: 50px;
    color: crimson;
    font-weight: 600;
    padding-top: 5px;
}
.contact-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}
.contact-logo{
    padding-right: 80px;
}
.contact-logo img{
    border-radius: 10px;
    border: 2px solid rgb(75, 65, 50);
}
.contact-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 550px;
    width: 500px;
    border: 2px solid rgb(50, 45, 35);
    border-radius: 15px;
    padding: 30px 45px;
}
.contact-form i{
    zoom: 300%;
    background-color: rgb(150, 130, 105);
    border: 1px solid black;
    padding: 5px;
    border-radius: 25px;
}
.form-details , textarea{
    border: none;
    border-bottom: 2px double black;
    background-color: transparent;
    font-family: Acme;
    font-size: 20px;
    color: orangered;
    width: 400px;
    padding: 15px;
}
textarea{
    height: 100px;
}
.bottom{
    margin-top: 100px;
    height: 20vh;
    background-color: rgb(75, 65, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-text{
    height: 10vh;
    font-family: 'Goblin One';
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px crimson;
    padding-top: 15px;
}
.bottom-icon{
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 0 300px;
    padding-bottom: 15px;
}
.bottom i{
    zoom: 250%;
    color: white;
}
.bottom i:hover{
    transition: all 0.5s;
    cursor: pointer;
    color: yellow;
    zoom: 300%;
}
@media screen and (max-width:768px){
    nav , .logo{
        font-size: 18px;
    }
    .head-logo{
        height: 30vh;
        width: 350px;
    }
    .tag{
        font-size: 15px;
        padding-left: 10px;
    }
    .info{
        font-size: 20px;
        padding: 0 10px;
    }
    .info p{
        font-size: 30px;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .about .info p{
        font-size: 30px;
    }
    .about-img{
        width: 300px;
        height: 400px;
    }
    .about-img img{
        width: 400px;
        height: 300px;
    }
    .service-head{
        font-size: 30px;
        padding: 10px 40px;
    }
    .first , .third{
        flex-direction: column-reverse;
        height: max-content;
        padding: 0 30px;
    }
    .second{
        flex-direction: column;
        height: max-content;
        padding: 0 30px;
    }
    .first img , .second img , .third img{
        width: 300px;
        height: 400px;
        margin: 30px 0;
    }
    .first-info , .second-info , .third-info{
        width: 300px;
        height: 550px;
        font-size: 20px;
    }
    h1{
        font-size: 25px;
    }
    .third-info h1{
        font-size: 25px;
        margin-bottom: -40px;
    }
    .contact{
        padding: 0 30px;
    }
    .contact-head{
        font-size: 40px;
    }
    .contact-logo{
        display: none;
    }
    .contact-form{
        width: 300px;
    }
    .form-details , textarea{
        width: 250px;
    }
    .bottom-text{
        font-size: 25px;
    }
    .bottom-icon{
        padding: 0 30px;
        padding-bottom: 15px;
    }
    .bottom i{
        zoom: 150%;
    }
    .bottom i:hover{
        zoom: 200%;
    }
}
